# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
env/

# Data
data/raw/
data/interim/
data/processed/

# Models
models/*.pkl
models/*.joblib
models/*.csv

# MLflow
mlruns/
mlflow.db
mlflow/

# Airflow (ignore logs, keep dags)
airflow/logs/
airflow/airflow.db

# Logs
logs/

# System
.DS_Store
.env

# Jupyter
.ipynb_checkpoints/

# Archives
*.tar

# VS Code
.vscode/

# Salesforce
.sfdx