__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/

data/raw/
data/interim/
data/processed/

models/*.pkl
models/*.joblib
models/*.csv

mlruns/
mlflow.db
mlflow/

airflow/
airflow.db

logs/

.DS_Store
.env

.ipynb_checkpoints

*.tar

.vscode/

.sfdx